@model List<NewsletterSubscriber>
@{
    ViewData["Title"] = "Gelen Abonelik Kutusu";
}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Active</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Active</td>
            <td>
                <a class="btn btn-danger" asp-controller="IncomeMessage" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                <a class="btn btn-primary" asp-controller="IncomeMessage" asp-action="Details" asp-route-id="@item.Id">Detay</a>
            </td>
        </tr>
    }
    </tbody>
</table>

